{{block "function" .}}
{{- $f := .}}

{{template "header" $f}}

type {{.Arr}} []*{{.Typ}}

{{template "filter" $f}}

{{template "foreach" $f}}

{{template "map" $f}}

{{template "some" $f}}

{{template "every" $f}}

{{template "fields" $f}}

{{end}}
